<html>
<body>
{% if message != null %}
<li>{{ message }}</li>
{% endif %}
<form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
</body>
</html>
